buildrev.h
.deps
*.aws
*.hex
*.elf
*.eep
*.map
*.lss
.codelite
compile_commands.json
.clang
.tern*
doc/html
*.LBK
*.DBK
*.EDF
*.DO
*.rte
*.log
*.SDF
*.sts
atmega1284p
__avr_gdbinit
version-git.h
.*
*.componentinfo.xml
